<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 class="card-title">English Letters</h5>
      </div>
      <div class="card-body all-icons">
        <div id="icons-wrapper">        
            <div class="container">
              <div class="row">
                <div class="col-md-3"><img src="assets/img/images/a.png" alt="Letters" (click)="start($event)" data-value="a" text="a" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/b.png" alt="Letters" (click)="start($event)" data-value="b" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/c.png" alt="Letters" (click)="start($event)" data-value="c" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/d.png" alt="Letters" (click)="start($event)" data-value="d" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/e.png" alt="Letters" (click)="start($event)" data-value="e" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/f.png" alt="Letters" (click)="start($event)" data-value="f" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/g.png" alt="Letters" (click)="start($event)" data-value="g" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/h.png" alt="Letters" (click)="start($event)" data-value="h" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/i.png" alt="Letters" (click)="start($event)" data-value="i" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/j.png" alt="Letters" (click)="start($event)" data-value="j" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/k.png" alt="Letters" (click)="start($event)" data-value="k" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/l.png" alt="Letters" (click)="start($event)" data-value="l" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/m.png" alt="Letters" (click)="start($event)" data-value="m" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/n.png" alt="Letters" (click)="start($event)" data-value="n" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/o.png" alt="Letters" (click)="start($event)" data-value="o" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/p.png" alt="Letters" (click)="start($event)" data-value="p" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/q.png" alt="Letters" (click)="start($event)" data-value="q" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/r.png" alt="Letters" (click)="start($event)" data-value="r" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/s.png" alt="Letters" (click)="start($event)" data-value="s" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/t.png" alt="Letters" (click)="start($event)" data-value="t" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/u.png" alt="Letters" (click)="start($event)" data-value="u" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/v.png" alt="Letters" (click)="start($event)" data-value="v" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/w.png" alt="Letters" (click)="start($event)" data-value="w" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/x.png" alt="Letters" (click)="start($event)" data-value="x" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/y.png" alt="Letters" (click)="start($event)" data-value="y" text="b" style="max-width: 150px;max-height: 150px;"></div>
                <div class="col-md-3"><img src="assets/img/images/z.png" alt="Letters" (click)="start($event)" data-value="z" text="b" style="max-width: 150px;max-height: 150px;"></div>
               
              </div> </div>
            


        </div>
      </div>
    </div>
  </div>
</div>
